Package: com.ps.recordntorch-rootless
Name: Record 'n' Torch (Rootless)
Depends: mobilesubstrate, firmware (>= 14.0), gsc.camera-flash
Version: 1.0.0
Architecture: iphoneos-arm
Description: Toggle torch while recording video.
Author: PoomSmart
Maintainer: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/recordntorch.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/recordntorch.json
